@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

main {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.text-brown {
  --tw-text-opacity: 1;
  color: rgb(128 138 148/var(--tw-text-opacity));
}

.text-ddv {
  --tw-text-opacity: 1;
  color: rgb(190 30 45/var(--tw-text-opacity));
}
.bg-ddv {
  --tw-bg-opacity: 1;
  background-color: rgb(190 30 45/var(--tw-bg-opacity));
}
.border-ddv {
  --tw-border-opacity: 1;
  border-color: rgb(190 30 45/var(--tw-border-opacity));
}